<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>399515824553-l6pfal2ruj5vsdjemf9l68mojufika75.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.399515824553-l6pfal2ruj5vsdjemf9l68mojufika75</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>399515824553-1bli2e82n1b5e76b271tos31r2htje3t.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDd3hn1R2zz3r8piZo1ymkYu6uUA9WLonw</string>
	<key>GCM_SENDER_ID</key>
	<string>399515824553</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.fantasticAppRiverpod</string>
	<key>PROJECT_ID</key>
	<string>hawai-52704</string>
	<key>STORAGE_BUCKET</key>
	<string>hawai-52704.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<true/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:399515824553:ios:172ea669d6c1e23cbc54b8</string>
</dict>
</plist>
